.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 50%;
  margin: 2% auto;
  padding: 1%;
  border-radius: 8px;
}

.App h1 {
  text-align: center;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom:12px
}

.form input[type="text"] {
  padding: 10px;
  width: 85%;
  border: 1px solid #eee;
  border-radius: 6px;
  margin-right: 10px;
}

.form input[type="text"]:focus,
.form button[type="submit"]:focus {
  outline: none;
}

.form button[type="submit"] {
  background-color: #008080;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
}

.todo-listItems{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.todo-item{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.todo-item button:focus{
  outline: none;
}

.item-content{
  width: 60%;
}

.todo-item button{
  border: none;
  border-radius:6px;
  cursor: pointer;
  padding: 8px;
}

.update-item{
  background-color: #008080;
  color: #fff;
}

.delete-item{
  background-color: #ff0000;
  color: #fff;
}

.update-form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.update-new-input{
  padding: 8px;
  width: 77%;
  border-radius: 6px;
  border: 1px solid #eee;
  padding: 8px;
  outline: none;
  margin-right: 10px;
}

.update-new-btn{
  background-color: darkorchid;
  color: #fff;
  cursor: pointer;
}